<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>BREAD (Browse, Read, Edit, Add, Delete)</h1>

  <h2>Filter</h2>

  <form action="" method="GET" class="inline-form">
    <input type="hidden" name="page" value="1">
  
    <div class="form-group">
   
  
      <div class="checkbox-group">
        <div class="filter-group">
          <input type="checkbox" id="idCheckbox" name="idCheckbox" <% if (query.id) { %>checked<% } %>>
          <label for="idCheckbox">ID:</label>
          <input type="text" id="id" name="id" placeholder="ID" value="<%= query.id %>">
        </div>
  
        <div class="filter-group">
          <input type="checkbox" id="stringCheckbox" name="stringCheckbox" <% if (query.string) { %>checked<% } %>>
          <label for="stringCheckbox">String:</label>
          <input type="text" id="string" name="string" placeholder="String" value="<%= query.string %>">
        </div>
  
        <div class="filter-group">
          <input type="checkbox" id="integerCheckbox" name="integerCheckbox" <% if (query.integer) { %>checked<% } %>>
          <label for="integerCheckbox">Integer:</label>
          <input type="number" id="integer" name="integer" placeholder="Integer" value="<%= query.integer %>">
        </div>
  
        <div class="filter-group">
          <input type="checkbox" id="floatCheckbox" name="floatCheckbox" <% if (query.float) { %>checked<% } %>>
          <label for="floatCheckbox">Float:</label>
          <input type="number" id="float" name="float" step="any" placeholder="Float" value="<%= query.float %>">
        </div>
  
        <div class="filter-group">
          <input type="checkbox" id="startDateCheckbox" name="startDateCheckbox" <% if (query.startDate) { %>checked<% } %>>
          <label for="startDateCheckbox">Date:</label>
          <input type="date" id="startDate" name="startDate" placeholder="Start Date" value="<%= query.startDate %>">
          <label>to</label>
          <input type="date" id="endDate" name="endDate" placeholder="End Date" value="<%= query.endDate %>">
        </div>
  
        <div class="filter-group">
          <input type="checkbox" id="booleanCheckbox" name="booleanCheckbox" <% if (query.boolean) { %>checked<% } %>>
          <label for="booleanCheckbox">Boolean:</label>
          <select id="boolean" name="boolean">
            <option value="">Choose the boolean...</option>
            <option value="true" <% if (query.boolean === 'true') { %>selected<% } %>>True</option>
            <option value="false" <% if (query.boolean === 'false') { %>selected<% } %>>False</option>
          </select>
        </div>
      </div>
    </div>
  <button type="submit" class="btn info">Search</button>
  <a href="/" class="btn danger">RESET</a>
  </form>


  <div class="table">
    <table id="table">
      <tr>
        <th>ID</th>
        <th>String</th>
        <th>Integer</th>
        <th>Float</th>
        <th>Date</th>
        <th>Boolean</th>
        <th>Actions</th>
      </tr>

      <% data.forEach((entry, index)=> { %>
        <tr class="<%= index % 2 === 0 ? 'even' : 'odd' %>">
          <td>
            <%= entry.id %>
          </td>
          <td>
            <%= entry.string %>
          </td>
          <td>
            <%= entry.integer %>
          </td>
          <td>
            <%= entry.float %>
          </td>
          <td>
            <%= entry.date %>
          </td>
          <td>
            <%= entry.boolean === 'false' ? 'false' : 'true' %>
          </td>
          <td>
            <form action="/edit/<%= entry.id %>" method="GET" class="inline-form">
              <button type="" class="button button-success">Edit</button>
            </form>
            <form action="/delete/<%= entry.id %>" method="POST" class="inline-form">
              <button type="submit" class="btn danger">Delete</button>
            </form>
          </td>
        </tr>
        <% }); %>
    </table>
  </div>
  <br>
  <div class="pagination">
    <!-- HANDLING adalah kondisi untuk mengatasi bug -->

    <% if (page > 1) { %>
    <a href="/?page=<%=parseInt(page) - 1%>">Previous</a>
    <% } %>
    <% for( let i = 1; i <= totalPages; i++ ) { %>
      <a href="<%= url.replace(`page=${page}`, `page=${i}`) %>" class="<%= page == i ? 'active' : '' %>" ><%=i %></a>
    <% } %>
    <% if (page < totalPages) { %>
      <a href="/?page=<%=parseInt(page) + 1%>">Next</a>
    <% } %>
  </div>
  <br>

  <br><br>

  <div class="button-container">
    <ul style="list-style-type: none;" class="button-list">
      <li><a href="/add" class="btn info">Add Data</a></li>
    </ul>
  </div>

</body>

</html>