<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body id="page-top">
        <div id="wrapper">
            <%- include('partials/sidebar') %>

                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('partials/topbar') %>

                            <div class="container-fluid">
                                <h1 class="h3 mb-4 text-gray-800">
                                    Purchases
                                </h1>

                                <!-- 🔹 Flash Messages -->
                                <% if (error && error.length> 0) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <% error.forEach(msg=> { %>
                                            <div>
                                                <%= msg %>
                                            </div>
                                            <% }) %>
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close"></button>
                                    </div>
                                    <% } %>

                                        <% if (success && success.length> 0) { %>
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <% success.forEach(msg=> { %>
                                                    <div>
                                                        <%= msg %>
                                                    </div>
                                                    <% }) %>
                                                        <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close"></button>
                                            </div>
                                            <% } %>

                                                <div class="card shadow mb-4">
                                                    <div class="card-header">
                                                        <h3 class="mb-0 text-primary font-weight-bold">
                                                            <%= title %>
                                                        </h3>
                                                    </div>

                                                    <div class="card-body">
                                                        <form action="<%= action %>" method="POST"
                                                            enctype="multipart/form-data">

                                                            <!-- header fields -->
                                                            <div class="form-row mb-3">
                                                                <div class="form-group col-md-4">
                                                                    <label>Invoice</label>
                                                                    <input type="text" id="invoice" name="invoice"
                                                                        class="form-control" readonly>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label>Time</label>
                                                                    <input type="text" id="time" name="time"
                                                                        class="form-control" readonly>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <label>Operator</label>
                                                                    <input type="text" class="form-control"
                                                                        value="<%= operator.name %>" readonly>
                                                                    <input type="hidden" name="operator"
                                                                        value="<%= operator.userid %>">
                                                                </div>

                                                            </div>

                                                            <hr>

                                                            <!-- goods section -->
                                                            <div class="form-row align-items-center mb-3">
                                                                <div class="form-group col-md-4">
                                                                    <label>Goods barcode</label>
                                                                    <select name="barcode" id="barcode"
                                                                        class="form-control">
                                                                        <option value="">Select Goods</option>
                                                                        <% goods.forEach(good=> { %>
                                                                            <option value="<%= good.barcode %>">
                                                                                <%= good.barcode %> - <%= good.name %>
                                                                            </option>
                                                                            <% }) %>
                                                                    </select>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>Goods Name</label>
                                                                    <input type="text" id="goodsName"
                                                                        class="form-control" readonly>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>Stock</label>
                                                                    <input type="text" id="stock" class="form-control"
                                                                        readonly>
                                                                </div>
                                                            </div>

                                                            <div class="form-row align-items-center">
                                                                <div class="form-group col-md-4">
                                                                    <label for="purchaseprice"> Purchase price</label>
                                                                    <input type="text" id="purchasePrice"
                                                                        class="form-control" readonly>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>QTY</label>
                                                                    <input type="number" id="qty" class="form-control">
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <label>Total Price</label>
                                                                    <input type="text" id="totalPrice"
                                                                        class="form-control" readonly>
                                                                </div>
                                                            </div>


                                                            <div class="form-group col-md-2">
                                                                <button type="button" class="btn btn-primary w-100"
                                                                    id="addItem">
                                                                    <i class="fas fa-plus"> Add </i>
                                                                </button>
                                                            </div>

                                                            <hr>

                                                            <!-- Table Section -->
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered">
                                                                    <thead class="thead-light">
                                                                        <tr>
                                                                            <th>No.</th>
                                                                            <th>Barcode</th>
                                                                            <th>Name</th>
                                                                            <th>Qty</th>
                                                                            <th>Price</th>
                                                                            <th>Total Price</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="itemsTable">
                                                                        <tr>
                                                                            <td colspan="6" class="text-center">No items
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <hr>

                                                            <div class="card-footer d-flex flex-column">
                                                                <!-- Row untuk Total Summary -->
                                                                <div class="form-group row mb-3">
                                                                    <label for="totalsum"
                                                                        class="col-sm-2 col-form-label">Total
                                                                        Summary</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="totalsum" name="totalsum"
                                                                            class="form-control"
                                                                            value="<%= purchaseData.totalsum || '' %>"
                                                                            readonly>
                                                                    </div>
                                                                </div>

                                                                <!-- Row untuk Supplier -->
                                                                <div class="form-group row mb-3">
                                                                    <label for="supplier"
                                                                        class="col-sm-2 col-form-label">Supplier</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" id="supplier" name="supplier"
                                                                            class="form-control"
                                                                            value="<%= purchaseData.supplier || '' %>"
                                                                            required>
                                                                    </div>
                                                                </div>


                                                                <!-- Save Button -->
                                                                <div class="d-flex justify-content-start mt-2">
                                                                    <button id="btnSave" type="submit"
                                                                        class="btn btn-success btn-icon-split mr-2">
                                                                        <span class="icon text-white-50">
                                                                            <i class="fas fa-plus"></i>
                                                                        </span>
                                                                        <span class="text">Finish</span>
                                                                    </button>

                                                                    <!-- Back Button -->
                                                                    <a href="/purchases "
                                                                        class="btn custom-btn btn-warning">
                                                                        <span class="btn-icon">
                                                                            <i class="fas fa-undo-alt"></i>
                                                                        </span>
                                                                        <span class="btn-text">Back</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                            </div>
                    </div>

                    <%- include('partials/footer') %>
                </div>
        </div>
    </body>

</html>